html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aleo', serif;
}

h3 {font-size: 32px;}
h4 {font-size: 32px;}
h5 {font-size: 32px;}

a {
    color: #000;
    text-decoration: none;
}

svg { width: 24px; }
.primary { fill: #777; }
.secondary { fill: #000; }

.header {
    display: flex;
    width: 75%;
    align-items: baseline;
}

.summary-links > div {
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    justify-content: space-between;
}
