html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aleo', serif;
    margin: 32px;
}

h1, h2, h3, h4 { margin: 16px 0; }

h3 {font-size: 28px; margin: 0 0 8px 0;}
h4 {font-size: 20px; margin: 8px 0; text-decoration: underline; text-decoration-style: dotted;}
h5 {font-size: 18px; margin: 4px 0;}
h6 {font-size: 16px; margin: 0;}
p {font-size: 14px;}
hr {height: 2px; border: none; background-color: #aaa;}

.inline {display: inline-block;}

ul {font-size: 14px; margin: 4px 20px; padding: 0;}

a {
    color: #000;
    text-decoration: none;
}

svg { width: 18px; margin: 0 2px 0 5px;}
.summary-links svg { width: 18px; margin: 0 2px 2px 5px;}
svg.location { width: 18px; height: 18px;}
svg.linkedin { width: 18px; height: 18px;}
.primary { fill: #777; }
.secondary { fill: #000; }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.summary-links > div {
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 50%;
}

/* keep a nice gap between the two columns */
.column:first-child {margin: 0 64px 0 0;}
